<kb-tab [labels]="['Table View','Kanban View']">
    <div id="first" class="tab-content">
            <kb-table
            *ngIf="concepts.length > 0"
            [data]="concepts"
            [columns]="columns"
            [filterChoices]="filterChoices"
            [filters]="filters"
            [displayNames]="displayNames"
            [action]="true"
            [actionButtonIcon]="'zoom_in'"
            (onZoom)="detail($event)"
        >
        </kb-table>
    </div>
    <div id="second" class="tab-content">
      <kb-kanban
        [kanbanFilteredDatasets]="filteredConcepts"
        [labels]="filterChoices[1]"
        [boxDetails]="columns"
      >

      </kb-kanban>

    </div>