<kb-tab [labels]="['Add Concept','Table View','Kanban View']">
    <div id="first" class="tab-content">
      <kb-input-form 
          [controlsToCreate]="addConceptControls"
          (onSubmit)="submit($event)"
      ></kb-input-form>
    </div>
    <div id="second" class="tab-content">
      <kb-table
      *ngIf="concepts.length > 0; else noData"
      [data]="concepts"
      [columns]="columns"
      [filterChoices]="filterChoices"
      [filters]="filters"
      [displayNames]="displayNames"
      [action]="true"
      [actionButtonIcon]="'zoom_in'"
      (onZoom)="detail($event)"
      (onDelete)="deleteConcept($event)"
  >
  </kb-table>
  <ng-template #noData>
    <div  fxLayout="row" fxLayoutAlign="center center" [style.margin-top.rem]="5" >
        No Concepts Available.  You need to start learning something!  Add a Concept!
    </div>
</ng-template>
    </div>
    <div id="third" class="tab-content">
      <kb-kanban
        [kanbanFilteredDatasets]="filteredConcepts"
        [labels]="filterChoices[1]"
        [boxDetails]="boxDetails"
        [translators]="filterChoices"
      >
      </kb-kanban>
    </div>