
  <kb-tab [labels]="['Add Concept','Concept Table','Concept Kanban']">
    <div id="first" class="tab-content">
      <mat-card  [class.mat-elevation-z8]="true">
           <kb-input-form 
                [orientation]="'horizontal'"
                [controlsToCreate]="addConceptControls"
                (onSubmit)="submit($event)"
                fxShow
                fxHide.sm
            >
              <div 
                  horizontal
                  fxShow
                  fxHide.sm
              > 
                What would you like to learn more about?
              </div>
            </kb-input-form>
            <kb-input-form 
              [orientation]="'vertical'"
              [controlsToCreate]="addConceptControls"
              (onSubmit)="submit($event)"
              fxShow.sm
              fxHide
            >
            <div 
              vertical
              fxShow.sm
              fxHide
            > 
            What would you like to learn more about?
          </div>
          </kb-input-form>
      </mat-card>
    </div>
    <div id="second" class="tab-content">
      <mat-card  [class.mat-elevation-z8]="true"> 
        <kb-table
              *ngIf="concepts.length > 0; else noData"
              [data]="concepts"
              [columns]="columns"
              [filterChoices]="filterChoices"
              [filters]="filters"
              [displayNames]="displayNames"
              [action]="true"
              [actionButtonIcon]="'zoom_in'"
              (onZoom)="detail($event)"
              (onDelete)="deleteConcept($event)"
        >
        </kb-table>
     </mat-card>
  <ngx-spinner></ngx-spinner>
  <ng-template #noData>
    <mat-card  [class.mat-elevation-z8]="true">
        <div  fxLayout="row" fxLayoutAlign="center center" [style.margin-top.rem]="5" >
            No Concepts Available.  You need to start learning something!  Add a Concept!
        </div>
    </mat-card>
</ng-template>
    </div>
    <div id="third" class="tab-content">
      <mat-card  [class.mat-elevation-z8]="true">
            <kb-kanban
            *ngIf="concepts.length > 0; else noDataKanBan"
            [kanbanFilteredDatasets]="filteredConcepts"
            [labels]="kanbanLabels"
            [headers]="kanbanHeaders"
            [boxDetails]="boxDetails"
            [translators]="filterChoices"
            (filterKanban)="filterConceptsForKanban($event)"
          >
          </kb-kanban>
          <ng-template #noDataKanBan>
            <div  fxLayout="row" fxLayoutAlign="center center" [style.margin-top.rem]="5" >
                No Concepts Available.  You need to start learning something!  Add a Concept!
            </div>
        </ng-template>
      </mat-card>
      <ngx-spinner></ngx-spinner>
    </div>
  </kb-tab>

