mat-sidenav-container {
  // margin-bottom: 1rem;
  height: 100%;
  overflow:hidden;

  mat-sidenav {
    
    img {
      background-position: center;
      background-size: contain;
    }
    width: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    background-color: #fdeaff;

  }

    mat-icon {
        margin-top: .4rem;
    }
  
    a {
      font-size: 1.5rem;
      margin: 1rem 2rem;
  
      .link-text {
          margin: .5rem 0 0 .5rem;
          
      }
    }
  
  img {
  //   margin-left: 4rem;
    width: 15rem;
  }

  .logout {
      margin-top: 90%;
  }
}

