mat-sidenav-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 90%;
  overflow: hidden;

  mat-sidenav {
    overflow: hidden;
    background-color: #fdeaff;

  }

    mat-icon {
        margin-top: .4rem;
    }
  
    a {
      font-size: 1.5rem;
      margin: 1rem 2rem;
  
      .link-text {
          margin: .5rem 0 0 .5rem;
          
      }
    }
  
  img {
  //   margin-left: 4rem;
    width: 15rem;
  }

  .logout {
      position: absolute;
      top: 70%;
  }
}

