.kanban-container {
  display: flex;
  justify-content: center;
  &__kanban {

    &__header {
      text-transform: uppercase;
      margin: 2rem 3rem;
    }

    &-list {
      width: 15rem;
      margin: .5rem;
      max-width: 100%;
      max-height: 100%;
      border: solid 0.1rem #ccc;
      min-height: 6rem;
      display: block;
      background: rgb(168, 44, 141);
      border-radius: 0.4rem;
      overflow: hidden;
      // display: flex;
      // justify-content: space-evenly;

      &.cdk-drop-list-dragging {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
      }

      &__box {
        display: block;
        padding: 2rem 1rem;
        margin: .5rem;
        border-bottom: solid 1px #ccc;
        color: rgba(30, 9, 45, 0.87);
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        cursor: move;
        background: white;
    
        
        &-header {
          font-size: 1.4rem;
          margin: .3rem;
        }

        &-content {
          
          &__details {
            font-size: 1rem;
            margin: .3rem;
            color: purple;
            margin-left: .5rem;
          }
        }  
    
        &:last-child {
          border: none;
        }

        &.cdk-drop-list-dragging {
          transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
        }
      }
    }
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.link-text {
  margin-top: 4rem;
  font-style: italic;
  text-decoration: underline;
  text-transform: uppercase;
}
