<div class="kanban-container" cdkDropListGroup>
    <div class="kanban-container__kanban" *ngFor="let label of labels; index as i">
        <div class="kanban-container__kanban__header">{{labels[i]}}</div>
        <div 
            cdkDropList 
            class="kanban-container__kanban-list" 
            (cdkDropListDropped)="drop($event)"
            [cdkDropListData]="kanbanFilteredDatasets[i]"
        >
            <div 
                class="kanban-container__kanban-list__box" 
                *ngFor="let content of kanbanFilteredDatasets[i]" 
                cdkDrag>
                <div class="kanban-container__kanban-list__box-header">
                    {{content.title}}
                </div>
                <div class="kanban-container__kanban-list__box-content">
                    <ul [style.list-style]="'none'" >
                        <li *ngFor="let boxContent of boxDetails">
                            <div class="kanban-container__kanban-list__box-content__details">
                                <ng-container *ngIf="boxContent === 'necessity'">
                                    <span [style.text-transform]="'capitalize'">{{boxContent}}: </span>
                                    {{
                                        translators[0][0]
                                    }}
                                </ng-container>
                                <ng-container *ngIf="boxContent === 'level'">
                                    <span [style.text-transform]="'capitalize'">{{boxContent}}: </span>
                                    {{
                                        translators[1][0]
                                    }}
                                </ng-container>
                                <ng-container *ngIf="boxContent === 'tag'">
                                    <span [style.text-transform]="'capitalize'">{{boxContent}}: </span>
                                    {{
                                        content[boxContent] !== ' ' && content[boxContent]
                                    }}
                                </ng-container>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

 