<table mat-table [dataSource]="dataSource" matSort  [style.width]="'90%'">
        <ng-container *ngFor="let column of elementColumns" matColumnDef="{{column}}">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}}</th>
            <td mat-cell *matCellDef="let element">
              {{element[`${column}`]}}
            </td>
          </ng-container>
    <tr mat-header-row *matHeaderRowDef="elementColumns sticky: true"></tr>
    <tr mat-row *matRowDef="let row; let element; columns: elementColumns; " (click) = "" class="table-link"></tr>
  </table>
   <mat-paginator class="paginator-centered" #paginator [pageSize]="25" [pageSizeOptions]="[ 25, 50, 100]" showFirstLastButtons></mat-paginator>