.mat-table {
    width: 100%;

  }
  
  .mat-form-field {
    font-size: 1.4rem;
    width: 100%;
  }
  
  .filter-options {
    display: flex;
    justify-content: flex-start;
  }
  .mat-cell,
  .mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 5px;
    line-break: unset;
    width: 50%;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    font-size: 1.2rem;
  }

  tr:nth-child(even) {
    background-color: var(--off-white);
  }
  
  tr:hover {
    animation: myfirst 4s 1;
    -webkit-animation: myfirst 4s 1; /* Safari and Chrome */
  }


  @keyframes myfirst {
    0% {
      background: #2c2c2c;
    }
    25% {
      background: #000000;
    }
    75% {
      background: #19103a;
    }
    100% {
      background: #2c2c2c;
    }
  }
  
  .table-link {
    cursor: var(--link-cursor);
  }

  a {
    color: aqua;
  }
  
  .mat-paginator-container {
    font-size: var(--table-control-font-size);
    border: var(--off-gray);
  }
  
  .mat-paginator-container {
    font-size: var(--table-control-font-size);
    border: black;
  }
  
  .horiz-scroll {
    width: var(--semi-full-width);
    overflow: auto;
    // padding: 0 2rem 0 1rem;
  }