<kb-tab [labels]="['Tasks','Concept Edit']">
    <div id="first">
        <kb-table
        *ngIf="tasks.length > 0"
        [data]="tasks"
        [columns]="columns"
        [filterChoices]="filterChoices"
        [filters]="filters"
        [displayNames]="displayNames"
        [action]="true"
        [actionButtonIcon]="'zoom_in'"
        (onComplete)="markApproved($event)"
         ></kb-table>
    </div>
    <div id="second">
        <kb-edit-element
            [controlsToCreate]="editControls"
        >

        </kb-edit-element>
    </div>
</kb-tab> 

