<kb-tab [labels]="['Edit Concept','Add Note', 'Current Notes']">
    <div id="first" class="tab-content">
       
        <kb-input-form 
          [controlsToCreate]="editControls"
          (onSubmit)="submit($event)"
        >
    Any Changes?
    </kb-input-form>

    </div>
    <div id="second" class="tab-content">
        <kb-input-form [controlsToCreate]="addNoteControls">
            What have you learned?
        </kb-input-form>

    </div>
    <div id="third" class="tab-content">
        <kb-table
            *ngIf="notes.length > 0"
            [data]="notes"
            [columns]="columns"
            [filterChoices]="filterChoices"
            [filters]="filters"
            [displayNames]="displayNames"
            [action]="true"
            [deleteable]="true"
            [actionButtonIcon]="'zoom_in'"
            (onDelete)="deleteNotes($event)"
         ></kb-table>
    </div>
</kb-tab> 

<!-- (onZoom)="" -->
