<ng-container 
    *ngIf="userIsAuthenticated; else loggedOut" 
    (onLoggedOut)="userIsAuthenticated = false"
    >
    <div class="main-container">
        <kb-toolbar 
            (clicked)="toggleSideNav()"
            [username]="loggedInUser.name"
      ></kb-toolbar>
    <kb-sidenav>
        <div class="nav-content">
            <router-outlet></router-outlet>
        </div>
    </kb-sidenav>
    </div>
</ng-container>
<ng-template #loggedOut>
    <kb-login
    ></kb-login>
</ng-template>