@import "../../../../styles/mixins";
.login-page{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    height: 100vh;
    overflow: hidden;

    .custom-shape-divider-top {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    
    .custom-shape-divider-top svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 191px;
        transform: rotateY(180deg);
    }
    
    .custom-shape-divider-top .shape-fill {
        fill: #D295E7;
    }

    &__login-signup-container {
        &__decision {
            @include center-element;
          }

          mat-card {
              background-color: rgb(253, 253, 253);
              height: auto;
          }
          position: absolute;
          top: 5%;
          z-index: 1000;

    }  


    .custom-shape-divider-bottom {
        position: absolute;
        bottom: 5%;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }
    
    .custom-shape-divider-bottom svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 191px;
        transform: rotateY(180deg);
    }
    
    .custom-shape-divider-bottom .shape-fill {
        fill: #95E7BD;
    }
}

a {
    margin-left: 25%;
    color: blue;
    text-transform: uppercase;
    text-decoration: underline;
}