.edit__container {

    margin-top: 5rem;

    &_content {

    }
    
    &_buttons {
        margin-top: 10rem;
    }
    
  
        .big {
            width: 40%;
        };
        .med {
            width: 30%;
        };
        .small {
            width: 15%;
        };
    
}