.edit__container {

    margin-top: 5rem;

    &__header {
        font-size: 2rem;
        text-transform: uppercase;
        margin-bottom: 3.5rem;
    }

    &__content {
        .mat-form-field {
            display: flex;
            justify-content: space-evenly;
            margin: 3rem;
        }
     
    }
    
    &__buttons {
        margin-bottom: 10rem;
    }
    
  
        .big {
            width: 40%;
        };
        .med {
            width: 30%;
        };
        .small {
            width: 15%;
        };
    
}