.title-elements {
  img {
    width: 3.5rem;
    margin-left: .5rem;
  }
}

.menu-spacer {
  margin-right: 25rem;
}

a {
  font-size: 1.2rem;
}

h1.title {
  font-size: 2rem;
  text-transform: uppercase;
}

.router-link-active {
  color: rgb(255, 169, 234);
  font-size: 1.3rem;
  text-decoration: underline;
}
