  <mat-toolbar class="toolbar mat-elevation-z6">
    <mat-toolbar-row>
      <div class="row-container">
        <div class="row-container__title-elements" fxLayout="row" fxLayoutAlign="space-evenly center" >
          <button mat-icon-button>
            <mat-icon (click)="onToggle()">menu</mat-icon>
          </button>
          <h1 class="title">K-Base</h1>
         </div>
        <div *ngIf="username" class="username">
          Hello {{username}}
        </div>
      </div>
    </mat-toolbar-row>
  
  </mat-toolbar>
  <div class="toolbar__content">
      <ng-content></ng-content>
  </div>
