.title-elements {
  img {
    width: 3.5rem;
    margin-left: .5rem;
  }
}

.menu-spacer {
  margin-right: 25rem;
}

a {
  font-size: 1.2rem;
  font-family: 'Merriweather Sans', sans-serif, "Helvetica Neue", sans-serif;
}

h1.title {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: 'Abril Fatface', cursive;
}

.router-link-active {
  color: rgb(46, 6, 36);
  font-size: 1.3rem;
  text-decoration: underline;
}
