
.dashboard-container{

    padding-right: 10rem;

    mat-grid-list {
            
        margin-bottom: 2rem;

        mat-grid-tile {

            .card-container {
                
                padding: 1rem;
    
                &__title {
                    display: flex;
                    justify-content: center;
                    font-size: 1.5rem;
                    text-transform: uppercase;
                    margin-top: 2rem;
                    margin-bottom: 2rem;
                }
                &__graph-container {
            
                    height: 20rem;
                    width:   26rem;
        
                
                }
        
                &__bar-graph-container {
        
                    // width: 20rem;
            
                    height: 28rem;
                    // width:   45rem;
                    margin: 5rem auto;
                
                }
            }
        }
    }

}
    

