
<mat-grid-list cols="2" rowHeight="15rem">
    <mat-grid-tile>
        <mat-card [class.mat-elevation-z8]="true"> 
          <mat-button-toggle-group name="pieFilter" aria-label="Filter Button for Pie Chart" >
            <mat-button-toggle value="level" (change)="filterPie($event.value)">Level</mat-button-toggle>
            <mat-button-toggle value="necessity" (change)="filterPie($event.value)">Necessity</mat-button-toggle>
          </mat-button-toggle-group> 
          <div class="graph-container">
              <canvas baseChart 
                height="100"
                width="100"
                [data]="pieData" 
                [labels]="pieLabels" 
                [chartType]="pieType"
                [options]="pieOptions"
                [legend]="pieLegend"> 
            </canvas>
          </div>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card [class.mat-elevation-z8]="true">
          
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card [class.mat-elevation-z8]="true">
          
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card [class.mat-elevation-z8]="true">
          
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>