/*VARIABLES*/

:root {
    /*fonts*/
    --h-text-font: "Archivo Black";
  
    /*font-sizes*/
    --header-font-size: 1.5em;
    --table-control-font-size: 1.2em;
    --primary-font-size: 1em;
    --secondary-font-size: 0.94em;
    --subheader-font-size: 1.2em;
  
    /*colors and weight*/
    --default-text-color: black;
    --dark-gray-text-color: #3f3f3f;
    --off-white: #efefef;
    --off-gray: #a8a7a3;
    --heavy-weight: 700;
  
    /*aliginments, margins, and padding*/
    --table-element-text: left;
    --table-element-padding: 0.9em;
    --standard-component-margin: 1em;
    --small-width: 25%;
    --mid-width: 40%;
    --mid-full-width: 85%;
    --full-width: 130em;
    --semi-full-width: 90rem;
  
    /*containers*/
    --table-container: 70em;
    --link-cursor: pointer;
    --insight-container: 70em;
  
    /*table variables*/
    --row-height: 5em;
    --row-width: 12em;
    --longer-row-width: 16em;
  
    /*buttons*/
    --button-border: #a8a7a3;
  }