
    
    <div class="resource-header">
        <h2>Current Resources</h2>
        <div class="resource-header__prospective__search">
            <mat-form-field class="search-input">
                <input 
                    matInput type="text"
                    [formControl]="searchControl"
                >
                <mat-label>Search for new resources:</mat-label>
            </mat-form-field>
        </div>
    </div>

    <ngx-spinner></ngx-spinner>

   <div class="resource-container" cdkDropListGroup *ngIf="prospectResources.length > 0">
        <!-- <div class="resource-container__current__buttons">

        </div> -->
        <div 
            class="resource-container__current-list"
            cdkDropList
            [cdkDropListData]="currentResources"
            (cdkDropListDropped)="drop($event, 'save')"
        >
          <div class="resource-container__current-list__box" *ngFor="let resource of currentResources" cdkDrag>
              <a href="{{resource.link}}" target="_blank">{{resource.title}}</a>
            </div>
        </div>
         
        <div class="resource-container__prospective">
            <div 
                *ngIf="prospectResources.length > 0; else noProspects"
                class="resource-container__prospective-list"
                cdkDropList
                [cdkDropListData]="prospectResources"
                (cdkDropListDropped)="drop($event, 'nonsave')"
            >
                <div class="resource-container__prospective-list__box" *ngFor="let resource of prospectResources" cdkDrag>
                    <a 
                        href="{{resource.link}}" 
                        target="_blank"
                        matTooltip="{{resource.content}}"
                        >{{resource.title}}</a>
                </div>
            </div>
          
        </div>
    </div>
    <ng-template #noProspects>No Results</ng-template>
    <div  fxLayout="row" fxLayoutAlign="space-around center">
        <kb-shared-button [size]="'big'" (clicked)="save()" *ngIf="prospectResources.length > 0">
            SAVE
        </kb-shared-button>
    </div>
    
